@model HelpdeskSystem.ViewModels.TicketViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Novo</h1>

<h4>Chamado</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Prioridade" class="control-label"></label>
                        <input asp-for="Prioridade" class="form-control" />
                        <span asp-validation-for="Prioridade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CategoriaId" class="control-label"></label>
                        <select asp-for="CategoriaId" id="CategoriaId" name="CategoriaId" class="form-control get-subcategories" asp-items="ViewBag.CategoriaId">
                            <option value="">-- Selecione uma Categoria --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubCategoriaId" class="control-label"></label>
                        <select asp-for="SubCategoriaId" id="SubCategoriaId" name="SubCategoriaId" class="form-control">
                            <option value="">-- Selecione uma Subcategoria --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/customjs/TicketSystem.js"></script>
