@model HelpdeskSystem.Models.TicketCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h1>Detalhes</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalhes do Chamados: </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CriadoPor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CriadoEm)
                    </th>
                    <th></th>
                </tr>
            </thead>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
