@using HelpdeskSystem.Models.Ticket
@model TicketCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h1>Detalhes</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalhes do Chamado: </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
